*.qmake.*
*.user.*
*.o
*__pycache__*

app/Makefile
app/app.pro.user
app/secrets

bin*
build*

utilities/parser/parser
utilities/txt2bin

utilities/socket publisher/Makefile
utilities/socket publisher/socket_pub
